<button
  (click)="cambio()"
  class="p-1 bg-blue-500 border rounded-lg hover:bg-blue-700 text-2xl ml-5 text-white"
>
  @if (plantilla) {CAMBIAR A FORMULARIO REACTIVO}@else {CAMBIAR A FORMULARIO
  PLANTILLA}
</button>

@if (plantilla) {
<section class="w-1/2 mx-auto">
  <h3 class="text-xl font-bold text-center pt-8 pb-4">FORMULARIO PLANTILLA</h3>
  <form
    #miFormulario="ngForm"
    (ngSubmit)="enviarFormularioPlantilla()"
    class="max-w-sm mx-auto"
  >
    <div class="mb-5">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >nombre</label
      >
      <input
        type="text"
        [(ngModel)]="usuario.nombre"
        name="nombre"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      />
    </div>
    <div class="mb-5">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Correo</label
      >
      <input
        type="email"
        [(ngModel)]="usuario.email"
        name="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      />
    </div>

    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Enviar Formulario
    </button>
  </form>
</section>
}@else {
<section class="w-1/2 mx-auto">
  <h3 class="text-xl font-bold text-center pt-8 pb-4">FORMULARIO REACTIVO</h3>
  <form [formGroup]="formularioReactivo" (ngSubmit)="enviarFormularioReactivo()" class="max-w-sm mx-auto">
    <div class="mb-5">
      <label
        for="nombre"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >nombre</label
      >
      <input
        type="text"
        id="nombre"
        formControlName="nombre"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (controlErrores('nombre', 'required')) {
        <div  class="pl-1 mb-4 text-sm  bg-red-50  border border-red-300 rounded-lg  text-red-400 font-medium " role="alert">
          El nombre es requerido.
        </div>
       }
    </div>
    <div class="mb-5">
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Correo</label
      >
      <input
        type="email"
        id="email"
        formControlName="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (controlErrores('email', 'required')) {
        <div  class="pl-1 mb-4 text-sm  bg-red-50  border border-red-300 rounded-lg  text-red-400 font-medium " role="alert">
          El email es requerido.
        </div>
       }
       @if (controlErrores('email', 'email')) {
        <div  class="pl-1 mb-4 text-sm  bg-red-50  border border-red-300 rounded-lg  text-red-400 font-medium " role="alert">
          El email debe tener formato &#64;ejemplo.com
        </div>
       }
    </div>
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Enviar Formulario
    </button>
  </form>
</section>
}
