
<div>
  <label for="name">Name:</label><br />
  <input type="text" id="name" [(ngModel)]="mensajeInput"/>
  <button class="m-3 border rounded-xl bg-green-500 p-2" (click)="enviarMensaje()">Enviar</button>
</div>
<button
  (click)="incrementar()"
  class="p-1 bg-blue-500 border rounded-lg hover:bg-blue-700 text-2xl ml-5 text-white"
>
  +1
</button>
<button
  (click)="decrementar()"
  class="p-1 bg-blue-500 border rounded-lg hover:bg-blue-700 text-2xl ml-5 text-white"
>
  -1
</button>
<button
  (click)="reset()"
  class="p-1 bg-blue-500 border rounded-lg hover:bg-blue-700 text-2xl ml-5 text-white"
>
  Reset
</button>
